.loader_section {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: var(--primary-color);
}

.loader {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pokeball {
    height: 50px !important;
    width: 50px !important;
    animation: spin 1s linear infinite;
}

#pokemon_overview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon_overview_card {
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
}

.pokemon_overview_card_title {
    width: 100%;
}

.pokemon_over_card_id {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pokemon_overview_card_title h2 {
    margin-block-start: 0;
}

.pokemon_overview_card_front_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pokemon_ovierview_card_front_types {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.pokemon_overview_card_pkm_img {
    height: 150px;
    width: 150px;
    object-fit: contain;

}

.pokemon_overview_card_typ_img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.75) 0px 22px 70px 4px;
}

.flip-card {
    position: relative;
    width: 310px;
    height: 310px;
    margin: 20px;
    display: inline-block;
    transition: transform 1.2s;
    transform-style: preserve-3d;
    vertical-align: top;
    perspective: 1000px;
}

.pokemon_overview_card_front,
.pokemon_overview_card_back {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pokemon_overview_card_back {
    transform: rotateY(180deg);
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.pokemon_detailed_card_view {
    height: 650px;
    width: 400px;
}

.pokemon_card {
    height: 100%;
    width: 100%;
    color: var(--font-color);
}

.pokemon_card_header {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
}

.pokemon_card_header_headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon_card_header h2 {
    margin: 25px;
}

.pokekom_card_header_id {
    font-size: 20px;
    margin: 25px;
}

.pokemon_card_header img {
    height: 200px;
    width: 200px;
    filter: drop-shadow(0 8px 32px rgba(255, 255, 255));
    transition: all 0.8s ease-in-out;
}

.pokemon_card_header img:hover {
    height: 300px;
    width: 300px;
    filter: drop-shadow(0 8px 32px rgba(255, 255, 255));
    transition: all 0.8s ease-in-out;
    transform: translateX(20px)
}


.pokekom_card_header_img {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.pokemon_card_navbar {
    background: #dedfd2;
    padding: 10px;
    border-top: 2px solid var(--font-color);
    border-bottom: 2px solid var(--font-color);
}

.pokemon_card_navbar nav {
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
}

.pokemon_card_navbar nav h4:hover {
    text-decoration: underline;
}

.pokemon_card_content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(650px - 300px - 46px);
    background: #dedfd2;
}

.pokemon_card_content_stats {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pokemon_card_content_stats_info {
    display: flex;
    justify-content: space-between;
    margin: 0 75px 0 75px;
    font-size: 18px;
}

.pokemon_card_content_types {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pokemon_card_content_types img {
    height: 90px;
    width: 90px;
}

.pokemon_card_content_types_translated {
    width: 90px;
    text-align: center;
}

.pokemon_card_content_types_figures {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.pokemon_card_detailed_view_chain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon_card_detailed_view_chain img {
    height: 75px;
    width: 75px;
    object-fit: contain;
}

.pokemon_card_detailed_view_sound_symbol {
    height: 30px;
    width: 30px;
}

.more_pokemon_btn {
    margin: 25px;
    height: 75px;
    width: 250px;
    color: white;
    font-size: 24px;
    font-family: 'Aldrich';
    background-color: #E63950;
    border: none;
    cursor: url('/assets/img/pokeball_cursor.png'), pointer;
}

.pokemon-next-btn {
    height: 30px !important;
    width: 30px !important;
    position: absolute;
    top: 50%;
    right: 0;
}

.pokemon-next-btn:hover {
    height: 30px !important;
    width: 30px !important;
    filter: drop-shadow(0 8px 32px rgba(255, 255, 255));
    transition: none !important;
    transform: none !important;
}

.pokemon-previously-btn {
    height: 30px !important;
    width: 30px !important;
    position: absolute;
    top: 50%;
    left: 0;
}

.pokemon-previously-btn:hover {
    height: 30px !important;
    width: 30px !important;
    filter: drop-shadow(0 8px 32px rgba(255, 255, 255));
    transition: none !important;
    transform: none !important;
}

