.background_color_grass {
    background-color: #58B15A;
}

.background_color_fire {
    background-color: #f75b00;
}

.background_color_water {
    background-color: #2C79AB;
}

.background_color_bug {
    background-color: #44993F;
}

.background_color_flying {
    background-color: #AB8C6D;
}

.background_color_normal {
    background-color: #AB8C6D;
}

.background_color_poison {
    background-color: #77018F;
}

.background_color_electric {
    background-color: #EFD238;
}

.background_color_ground {
    background-color: #843517;
}

.background_color_fairy {
    background-color: #EC4778;
}

.background_color_fighting {
    background-color: #371505;
}

.background_color_psychic {
    background-color: #E73065;
}

.background_color_rock {
    background-color: #929AA0;
}

.background_color_ghost {
    background-color: #43294B;
}

.background_color_ice {
    background-color: #4293EB;
}

.background_color_dragon {
    background-color: #2866A5;
}