:root {
    --primary-color: #0e1929;
    --secondary-color: #122035;
    --third-color: gray;
    --font-color: #0e1929;

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    margin: 0;
    color: white;
    font-family: 'Aldrich';
    cursor: url('/assets/img/pokeball_cursor.png'), auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--secondary-color);
    z-index: 1;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
}

.header_main img {
    height: 60px;
    width: 60px;
}

.header_search_section {
    display: flex;
    align-items: center;
    gap: 20px;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog {
    padding: 0;
    border: 1px solid #dedfd2;
    border-radius: 5px;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

dialog[open]::backdrop {
    backdrop-filter: blur(5px);
}

h2,
h4 {
    margin: 0;
}

.d-none {
    display: none;
}