:root {
    --primary-color: #0e1929;
    --secondary-color: #122035;
    --third-color: gray;

}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    margin: 0; 
    color: white; 
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; 
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--secondary-color);
}